- form_for :user_login, :url => session_path do |f|
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :remember_me
    = f.check_box :remember_me
  .field
    = f.submit 'Log in'
  .field
    = link_to 'Forgot Password?', forgot_password_users_path

